# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Environment variables (but keep .env.example for reference)
.env
.env.example
.env.new
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
!.env.example
.env.production
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

# Deployment
.vercel
.netlify
build/
out/
.nvmrc
bulid.sh
# OS
Thumbs.db
.AppleDouble
.LSOverride

# IDE
*.code-workspace
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Testing
coverage/
.nyc_output/

# Misc
.cache/
.turbo/
dist-ssr/

#config
posstcss.config.js
tailwind.config.js
vercel.json
vite.config.js